$primary-color: #061826;
$secondary-color: #0471A6;
$white-color: #ffff;
$feedback-color: #BD93D8;
$grey-01-color: #CED0CE;
$grey-02-color: #E6E8E6;

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto&display=swap');

$font-headings: 'Francois One', sans-serif;
$font-body: 'Roboto', sans-serif;

$shadow-01: 0px 30px 60px rgba(213, 213, 213, 0.25);